.card {
  box-shadow: 0px 0px 5px black;
  cursor: pointer;
  transition: transform 0.5s ease;
  margin: auto;
}
.card:hover {
  transform: translateY(-15px);
}

.card-body {
  height: 250px;
}

.card-image-top {
  height: 400px;
}

.card-btn {
  padding-bottom: 20px;
}

.best-card h1 {
  font-weight: bold;
  color: white;
  text-shadow: 2px 1px 5px black;
}
.best-card p {
  font-weight: bold;
  color: white;
  text-shadow: 2px 1px 5px black;
}

.new-card {
  margin-top: 50px;
  cursor: pointer;
}
.new-card h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
}

.navbar img {
  width: 150px;
}

.navbar-logo {
  margin-left: 50px;
}

.navbar-nav {
  margin-left: 50px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s ease;
}
.nav-item:hover {
  background-color: rgb(255, 166, 0);
  box-shadow: 0 0 5px rgb(255, 166, 0), 0 0 20px rgb(255, 166, 0), 0 0 60px rgb(255, 166, 0), 0 0 150px rgb(255, 166, 0);
  color: black;
}

.onIt {
  border-bottom: 2px solid rgb(255, 166, 0);
}

#footer {
  background-color: black;
  padding: 30px 0;
  font-size: 14px;
  margin-top: 50px;
}

.icon {
  width: 50px;
  padding-right: 10px;
}

#btn1 button {
  transition: 0.3s ease;
  cursor: pointer;
  width: 200px;
  height: 35px;
  letter-spacing: 3px;
  font-weight: bold;
  border: none;
  background-color: rgb(255, 166, 0);
  cursor: pointer;
}

.botonYlw button:hover {
  background-color: rgb(255, 166, 0);
  box-shadow: 0 0 5px rgb(255, 166, 0), 0 0 20px rgb(255, 166, 0), 0 0 60px rgb(255, 166, 0), 0 0 150px rgb(255, 166, 0);
}

#btn3 {
  text-align: center;
}
#btn3 button {
  width: 150px;
  height: 35px;
  letter-spacing: 3px;
  font-weight: bold;
  border: none;
  background-color: rgb(255, 166, 0);
  cursor: pointer;
  transition: 0.5s ease-in;
  cursor: pointer;
}
#btn3 button:hover {
  background-color: black;
  color: white;
}

.btn {
  color: white;
}

.banner {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: 50%;
  margin-top: 50px;
  background-image: url(../img/catering2.jpg);
}
.banner h1 {
  font-weight: bold;
  color: white;
  font-size: 60px;
  padding-top: 100px;
  margin-left: 10px;
}
.banner h2 {
  background-color: rgb(255, 166, 0);
  font-weight: bold;
  color: black;
  font-size: 60px;
  padding-top: 0px;
  margin-left: 10px;
}

.banner2 {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: 50%;
  margin-top: 50px;
  background-image: url(../img/catering3.jpg);
}
.banner2 h1 {
  font-weight: bold;
  color: white;
  font-size: 60px;
  padding-top: 100px;
  margin-left: 10px;
}
.banner2 h2 {
  background-color: rgb(255, 166, 0);
  font-weight: bold;
  color: black;
  font-size: 60px;
  padding-top: 0px;
  margin-left: 10px;
}

.divider {
  padding-top: 50px;
  width: 100%;
}

.line {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: black;
}
.line h1 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}
.line h2 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}
.line hr {
  color: white;
}

.fotoNos {
  width: 100%;
}

.qscont {
  padding-bottom: 15px;
}

.infoNos {
  background-image: url(../img/bkgr.jpg);
  padding-bottom: 20px;
  padding-top: 20px;
}
.infoNos h2 {
  color: white;
  padding-bottom: 20px;
}
.infoNos hr {
  color: white;
  padding-bottom: 20px;
}
.infoNos p {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
}

.main-content {
  width: 100%;
  height: 90vh;
  background-image: url(../img/background.png);
  background-size: cover;
  background-position: 73%;
}

.content {
  padding-top: 160px;
  margin-left: 50px;
  color: white;
}
.content h1 {
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 3px;
}

.container {
  margin-top: 100px;
}

.copyright {
  color: white;
}

.pos {
  padding-bottom: 100px;
}

.serv-bk {
  background-image: url(../img/bk2.jpg);
}

.contact {
  padding-top: 40px;
  padding-bottom: 40px;
}/*# sourceMappingURL=style.css.map */