.fotoNos {
    width: 100%;
}

.qscont {
    padding-bottom: 15px;
}

.infoNos{
    background-image: url(../img/bkgr.jpg);
    padding-bottom: 20px;
    padding-top: 20px;
    h2 {
        color: white;
        padding-bottom: 20px;
    }
    hr {
        color: white;
        padding-bottom: 20px;
    }
    p {
        color: white;
    }
}