@import "../utilities/mixin";


.divider {
    padding-top: 50px;
    width: 100%;
}

.line {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    h1 {
        @include spacer;
    }
    h2 {
        @include spacer;
    }
    hr {
        color: white;
    }
}